.app {
  background-color: #444853;
}




/* header */
.header {
  background-color: #0f1e2f;
}

.navbar-brand {
  padding: 10px;
  text-decoration: none;
}




/* footer */
.footer {
  background-color: #3a3d46;
  min-height: 200px;
  color: #ffffff;
}

footer>div>h3 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}





/* login page */
.login {
  min-height: 80vh;
  display: grid;
  place-items: center;
  background-color: #2f3135;
  color: #ffffff;
  padding-bottom: 20px;
}

.login__buttons>div>button {
  color: #ffffff;
  width: 300px;
  background-color: #6e799f;
  font-weight: 800;
  margin: 10px;
}

.login__buttons>div>button:hover {
  background-color: rgb(111, 110, 110);
  color: #738adb;
}





/* home page */
.home {
  min-height: 80vh;
  background-color: #30343b;
  color: #ffffff;
  padding-bottom: 20px;
  align-items: center;
  overflow: hidden;
}

.home__carousel{
  padding-bottom: 20px;
}

.carousel-item>img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

.home__blogPost {
  position: relative;
  width: 100%; 
  align-items: center;
  border-style: solid;
  
}

.home__postUser {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  background-color: #424346;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
}




/* chat page */
.chat {
  min-height: 80vh;
  background-color: #2f3135;
  color: #ffffff;
  padding-bottom: 20px;
}





/* profile page */
.profile {
  min-height: 80vh;
  width: auto;
  align-items: center;
  background-color: #2f3135;
  padding-bottom: 20px;
  padding-top: 20px;
} 

.profile__userInfo{
  max-height: 300px;
}

.col-md-4>img {
  margin-right: 1px;
}





/* bootstrap */
.card-body{
  background-color: #424346;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.card>img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 1px;
  border-radius: 5px;
}

.card {
  height: 100%;
  width: auto;
  align-items: center;
}
