.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login__buttons {
  width: 250px;
}

.login__buttons > div > Button {
  color: #ffffff;
  font-weight: 800;
}

.login__signUp,
.login__login,
.login__googleLogin {
  background-color: #738adb;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}

.login__signUp:hover,
.login__login:hover,
.login__googleLogin:hover {
  background-color: rgb(39, 59, 137);
  color: #ffffff;
}
